[workspace]
resolver = "2"
members = ["simulator", "solvers", "game_data", "raphael-cli"]

[package]
name = "raphael-xiv"
version = "0.14.1"
edition = "2021"
default-run = "raphael-xiv"

[dependencies]
simulator = { path = "simulator" }
solvers = { path = "solvers" }
game-data = { path = "game_data" }

egui = "0.27.2"

eframe = { version = "0.27.2", features = ["persistence"] }
egui_extras = { version = "0.27.2", features = ["all_loaders"] }
image = { version = "0.24.9", default-features = false, features = ["webp"] }
serde = { version = "1.0.203", features = ["derive"] }
ron = "0.8"
log = "0.4"
rust-i18n = "3.1.2"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4"
console_error_panic_hook = "0.1.7"
gloo-worker = { version = "0.5.0", features = ["futures"] }
web-time = "1.1.0"
# web-sys doesn't follow semver, so version needs to be pinned (https://github.com/emilk/egui/issues/4961)
web-sys = "=0.3.69"

[[bin]]
name = "webworker"
path = "src/webworker.rs"

[profile.release]
lto = "fat"
