[workspace]
resolver = "2"
members = ["simulator", "solvers", "game_data"]

[package]
name = "raphael-xiv"
version = "0.14.0"
edition = "2021"
default-run = "raphael-xiv"

[dependencies]
simulator = { path = "simulator" }
solvers = { path = "solvers" }
game-data = { path = "game_data" }

egui = "0.27.2"

eframe = { version = "0.27.2", features = ["persistence"] }
egui_extras = { version = "0.27.2", features = ["all_loaders"] }
image = { version = "0.24.9", default-features = false, features = ["png"] }
serde = { version = "1.0.203", features = ["derive"] }
log = "0.4"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
clap = { version = "4.4.11", features = ["derive", "wrap_help"] }

[[bin]]
name = "raphael-cli"
path = "src/bin/raphael-cli.rs"

[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4"
console_error_panic_hook = "0.1.7"
gloo-worker = { version = "0.5.0", features = ["futures"] }
web-time = "1.1.0"
# web-sys doesn't follow semver, so version needs to be pinned (https://github.com/emilk/egui/issues/4961)
web-sys = "=0.3.69"

[[bin]]
name = "webworker"
path = "src/webworker.rs"

[profile.release]
lto = "fat"
