[package]
name = "raphael-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
env_logger = "0.10.1"
log = "0.4.20"
strum = "0.25"
strum_macros = "0.25"
thousands = "0.2.0"
