[workspace]
resolver = "2"
members = ["simulator", "solvers", "game_data"]

[package]
name = "raphael-xiv"
version = "0.9.1"
edition = "2021"

[dependencies]
simulator = { path = "simulator" }
solvers = { path = "solvers" }
game-data = { path = "game_data" }

egui = "0.28.1"
egui_extras = { version = "0.28.1", features = ["all_loaders"] }
eframe = { version = "0.28.1", features = ["persistence"] }
image = { version = "0.25.1", default-features = false, features = ["png"] }
wasm-bindgen-futures = "0.4"
gloo-worker = { version = "0.5.0", features = ["futures"] }
serde = { version = "1.0.203", features = ["derive"] }
log = "0.4"
web-time = "1.1.0"


[[bin]]
name = "webworker"
path = "src/webworker.rs"

[profile.release]
lto = "fat"
