name: Rust

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --verbose --release --package simulator --package solvers --package game-data
      - name: Run tests
        run: cargo test --verbose --release --package simulator --package solvers --package game-data
